.container { max-width: 100%;
    display: grid;
    
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 2fr 1fr 6fr 2fr ;
    grid-gap: 1px;
    height: 100%;
}

 .container first { 
    
    grid-area: 1/1/2/3;
    background-color: rgb(122, 171, 228);
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    
}

 .container second {
    grid-area: 1/3/4/4;
    background-color: rgb(127, 214, 153);    
    display: flex;
    
    align-items: center; 
    justify-content: flex-end;
    padding: 10px;
    
}

 .container third {
    grid-area: 2/1/4/2;
    background-color: darksalmon;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

 .container fourth {
    grid-area: 2/2/3/3;
    background-color: darksalmon;
    text-align: left;
    display: flex;
    
    align-items: center;
    padding: 10px;
    
}

 .container fifth{
    grid-area: 3/2/4/3;
    background-color: rgb(255, 245, 226) ;
    text-align: center;
    display: flex;
    
    align-items: center;
    padding: 10px;
    
}

 .container sixth{
    grid-area: 4/1/5/4;
    background-color: rgb(122, 171, 228);
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}
x { 
    background-color:rgb(230, 228, 154);
    width: 26%;
    height: 10%;
    text-align: right;
    padding: 10px;
    
    
}
y { 
    background-color: rgb(230, 228, 154);
    width: 20%;
    height: 10%;
    text-align: right;
    padding: 10px;
    
    
    
    
}

